html, body {
    margin: 0;
    padding: 0;
    font-family: 'Bona Nova', serif;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 1em;    
}

.header{
    height: 2.5em;
    cursor: pointer;
}

#count{
    width: 3em;
}

#btn{
    background: #fff;
}

#btn,
#menu{
    border: 1px solid grey;
    border-radius: .2em;    
    font-family: 'Bona Nova', serif;
}

main,
form{
    width: 90%;
    margin: 0 auto;
}

#color-main,
#hex-main{
    display: flex;
    flex-direction: row;
}

.color{
    height: 60vh;
}

.col{
    width: 20%;    
}

.white{
    text-align: center;
    margin-top: 1em;
    cursor: pointer;
}

#custom-tooltip {
    display: none;
    position: absolute;
    padding: 5px 12px;
    background-color: #4de117df;
    border-radius: 4px;
    color: #fefefe;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width:550px){
   
    
    .header{
        margin-bottom: 0;
    }

    main, 
    form,
    section{        
        max-width: 800px;
    }
}